//====================================================================================================
.footer {
	background: #00004a;
	color: #fff;
	@include adaptiveValue("padding-top", 60, 20);
	@include adaptiveValue("padding-bottom", 40, 20);
	&__container {
		position: relative;
	}
	&__logo {
		position: absolute;
		@include adaptiveValue("width", 158, 70);
		@include adaptiveValue("height", 158, 70);
		transform: translate(0, -90%);
		right: 20px;
		img {
			@include adaptiveValue("width", 158, 70);
			@include adaptiveValue("height", 158, 70);
		}
	}
	&__body {
		display: flex;
	}
	&__column {
	}
	&__title {
	}
	&__phone {
	}
	&__adress {
	}
}

//====================================================================================================
