.main-block {
	position: relative;
	@include adaptiveValue("padding-top", 317, 131);
	@include adaptiveValue("padding-bottom", 264, 101);
	&__container {
	}
	&__body {
		display: grid;
		text-align: center;
	}
	&__title {
		font-family: "Ubuntu", sans-serif;
		font-weight: 700;
		@include adaptiveValue("font-size", 62, 28);
		color: #fff;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
	}
	&__subtitle {
		font-weight: 500;
		@include adaptiveValue("font-size", 22, 16);
		color: #fff;
		max-width: 431px;
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 45, 15);
		}
	}
	&__button {
		transition: all 0.3s;
		background-color: #ffc940;
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 800;
		@include adaptiveValue("padding-top", 18, 10, 0, 1390, 767.98);
		@include adaptiveValue("padding-bottom", 18, 10, 0, 1390, 767.98);
		@include adaptiveValue("padding-left", 24, 20, 0, 1390, 767.98);
		@include adaptiveValue("padding-right", 24, 20, 0, 1390, 767.98);
		@media (min-width: $mobileSmall) {
			justify-self: center;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #e19900;
			}
		}
	}
	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}
